In [1]:
import pandas as pd
import numpy as np

deal_amounts = [
    2500, 2700, 3200, 5000, 6200,
    7000, 12000, 13000, 15000, 18000,
    21000, 30000, 40000, 45000, 52000,
    60000, 70000, 80000, 90000, 100000
]

df = pd.DataFrame({"deal_amount": deal_amounts})

In [2]:
df["log_acv"] = np.log1p(df["deal_amount"])

In [3]:
df

    deal_amount    log_acv
0          2500   7.824446
1          2700   7.901377
2          3200   8.071219
3          5000   8.517393
4          6200   8.732466
5          7000   8.853808
6         12000   9.392745
7         13000   9.472782
8         15000   9.615872
9         18000   9.798183
10        21000   9.952325
11        30000  10.308986
12        40000  10.596660
13        45000  10.714440
14        52000  10.859018
15        60000  11.002117
16        70000  11.156265
17        80000  11.289794
18        90000  11.407576
19       100000  11.512935

In [4]:
df["acv_bucket_original"] = pd.qcut(df["deal_amount"], q=4, labels=["Low", "Mid", "High", "Very High"])
df["acv_bucket_with_log"] = pd.qcut(df["log_acv"], q=4, labels=["Low", "Mid", "High", "Very High"])

In [5]:
df

    deal_amount    log_acv acv_bucket_original acv_bucket_with_log
0          2500   7.824446                 Low                 Low
1          2700   7.901377                 Low                 Low
2          3200   8.071219                 Low                 Low
3          5000   8.517393                 Low                 Low
4          6200   8.732466                 Low                 Low
5          7000   8.853808                 Mid                 Mid
6         12000   9.392745                 Mid                 Mid
7         13000   9.472782                 Mid                 Mid
8         15000   9.615872                 Mid                 Mid
9         18000   9.798183                 Mid                 Mid
10        21000   9.952325                High                High
11        30000  10.308986                High                High
12        40000  10.596660                High                High
13        45000  10.714440                High                High
14        52000  10.859018                High                High
15        60000  11.002117           Very High           Very High
16        70000  11.156265           Very High           Very High
17        80000  11.289794           Very High           Very High
18        90000  11.407576           Very High           Very High
19       100000  11.512935           Very High           Very High