In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv('data/skygeni_sales_data.csv')
df.sample(5)

,deal_id,created_date,closed_date,sales_rep_id,industry,region,product_type,lead_source,deal_stage,deal_amount,sales_cycle_days,outcome
3317,D03318,2024-03-23,2024-06-01,rep_12,HealthTech,North America,Enterprise,Outbound,Qualified,4920,70,Won
3540,D03541,2023-04-13,2023-07-11,rep_12,Ecommerce,India,Core,Referral,Negotiation,4418,89,Won
102,D00103,2023-02-05,2023-05-29,rep_25,HealthTech,North America,Pro,Outbound,Proposal,3697,113,Lost
1363,D01364,2023-07-11,2023-08-18,rep_11,HealthTech,APAC,Enterprise,Inbound,Closed,12435,38,Won
1481,D01482,2023-03-18,2023-07-05,rep_12,EdTech,Europe,Enterprise,Referral,Qualified,68439,109,Won

In [5]:
min(df['created_date']), max(df['created_date'])

(Timestamp('2023-01-01 00:00:00'), Timestamp('2024-03-26 00:00:00'))

In [6]:
min(df['created_date']), max(df['closed_date'])

(Timestamp('2023-01-01 00:00:00'), Timestamp('2024-07-20 00:00:00'))

# Feature Engineering

In [7]:
df["created_date"] = pd.to_datetime(df["created_date"])
df["closed_date"] = pd.to_datetime(df["closed_date"])

df["created_month"] = df["created_date"].dt.month
df["created_quarter"] = df["created_date"].dt.quarter
df["created_year"] = df["created_date"].dt.year
df['created_year_and_quarter'] = df["created_date"].dt.to_period("Q").astype(str)
df["created_weekday"] = df["created_date"].dt.weekday

df["closed_month"] = df["closed_date"].dt.month
df["closed_quarter"] = df["closed_date"].dt.quarter
df["closed_year"] = df["closed_date"].dt.year
df['closed_year_and_quarter'] = df["closed_date"].dt.to_period("Q").astype(str)
df["closed_weekday"] = df["closed_date"].dt.weekday

# Time buckets (helps CRO thinking)
df["sales_cycle_bucket"] = pd.cut(
    df["sales_cycle_days"],
    bins=[0, 14, 30, 60, 90, np.inf],
    labels=["<2w", "2-4w", "1-2m", "2-3m", "3m+"]
)

# Binary outcome
df["is_won"] = (df["outcome"] == "Won").astype(int)

# ACV buckets (very important) --> Right skewed data, hence log transformed
df["acv_bucket"] = pd.qcut(
    df["deal_amount"], 
    # np.log1p(df["deal_amount"]), 
    q=4,
    labels=["Low", "Mid", "High", "Very High"]
)

# doesn't matter if I apply log or not in pd.qcut as log is a monotonic function (preserves order) 
# and qcut works by splitting thr ranked data into equal sized groups
# hence ranking order of values doesn't change post log applying
# NOTE: for strictly qcut into bucket applications, skip applying log as it is just additional compute, 
# look at examples/qcut-example.ipynb for sanity check

In [4]:
df.groupby(["created_year_and_quarter","acv_bucket"])["deal_amount"].agg(["min", "max", "sum", "median", "mean", "count"])

C:\Users\robot\AppData\Local\Temp\ipykernel_2628\814485199.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(["created_year_and_quarter","acv_bucket"])["deal_amount"].agg(["min", "max", "sum", "median", "mean", "count"])

                                       min     max       sum   median  \
created_year_and_quarter acv_bucket
2023Q1                   Low          2052    6550    360441   4349.0
                         Mid          6680   14119    930299   9717.0
                         High        14244   35218   1805689  18608.0
                         Very High   39701   99320   4593538  71775.0
2023Q2                   Low          2002    6608   1090590   4116.0
                         Mid          6639   14161   2416438   9984.0
                         High        14178   39053   4963361  18475.0
                         Very High   39244   99377  16410000  70697.0
2023Q3                   Low          2045    6569   1039567   4474.0
                         Mid          6612   14143   2376404   9459.0
                         High        14181   38927   5509596  18284.0
                         Very High   39265   99996  18974068  68911.0
2023Q4                   Low          2020    6596   1085965   4252.5
                         Mid          6613   14090   2713492   9949.5
                         High        14252   38623   4863868  18507.0
                         Very High   39090   99913  18136488  66601.0
2024Q1                   Low          2012    6597   1098799   4369.0
                         Mid          6626   14160   2309657   9758.0
                         High        14188   38638   5213771  18577.0
                         Very High   39116   99784  17791652  72882.0
2024Q2                   Low          2011    6581    651046   4122.5
                         Mid          6622   14165   1520322   9709.0
                         High        14201   38704   3597512  18930.0
                         Very High   39561  100000  11240518  71267.5
2024Q3                   Low          2713    5549     23475   3789.5
                         Mid          7175   12957    102967   9956.0
                         High        14193   19917     67971  16930.5
                         Very High   41616   83208    544970  69070.0

                                             mean  count
created_year_and_quarter acv_bucket
2023Q1                   Low          4342.662651     83
                         Mid         10003.215054     93
                         High        20755.045977     87
                         Very High   70669.815385     65
2023Q2                   Low          4210.772201    259
                         Mid          9985.280992    242
                         High        20854.457983    238
                         Very High   70128.205128    234
2023Q3                   Low          4386.358650    237
                         Mid          9779.440329    243
                         High        20869.681818    264
                         Very High   69757.602941    272
2023Q4                   Low          4309.384921    252
                         Mid          9903.255474    274
                         High        20522.649789    237
                         Very High   68698.818182    264
2024Q1                   Low          4242.467181    259
                         Mid          9912.690987    233
                         High        20771.996016    251
                         Very High   72030.979757    247
2024Q2                   Low          4227.571429    154
                         Mid          9872.220779    154
                         High        21287.053254    169
                         Very High   70253.237500    160
2024Q3                   Low          3912.500000      6
                         Mid          9360.636364     11
                         High        16992.750000      4
                         Very High   68121.250000      8